label{
    font-size: 19px;
    margin: 70px 0px;
}
form{
    position: absolute;
    top: 30%;
    left: 35%;
    border: black solid 1px;
    padding: 20px;
    background: white;
    border-radius: 15px;
}
input{
    width: 400px;
    height: 27px;
    margin: 15px 0px;
}
body{
    background: #24406f;
}
input[type="submit"] {
    background: #f6db04;
}