select {
    appearance: none;
    flex-direction:row;
    position:relative;
    padding: 0.2em;
    border: 1px black solid;
    font-size: 15px;
    width: auto;
    border-radius: 2px;
}
form{
    margin: 30px;
}
td{
    padding-top: 15px;
}